{{#partial "page"}}

<main class="page nx-utility-page">
    <section class="page-content page-content--centered nx-utility-page__inner nx-404-page">
        <h1 class="page-heading nx-utility-page__heading">{{lang 'page_not_found.page_heading'}}</h1>
        <p class="u-textAlignCenter nx-utility-page__text">
            {{lang 'page_not_found.message'}}
        </p>

        <div class="nx-404-search">
            {{> components/common/search-box}}
        </div>
    </section>
</main>

{{/partial}}
{{> layout/base}}