---
blog:
  recent_posts:
    limit: 6
---
{{#partial "page"}}

<main class="page nx-blog-page">

  <div class="container">

    <!-- BLOG HERO -->
    <section class="blog-hero">
      <div class="hero-toprow">
        <a href="/blog" class="btn-outline back-btn">
          <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
          <span class="back-text-short">Back</span>
          <span class="back-text-full">Back to Blogs</span>
        </a>
        {{> components/custom/nexyl/common/post-actions url=blog.post.url}}
      </div>

      <div class="title-block">
        <h1 class="blog-title">{{blog.post.title}}</h1>
        <div class="title-badges">
          {{#each blog.post.tags}}
          <span class="badge">{{name}}</span>
          {{/each}}
        </div>
        {{#if blog.post.summary}}
        <p class="blog-lede">{{blog.post.summary}}</p>
        {{/if}}
      </div>

      <div class="hero-media">
        <div class="hero-image">
          {{> components/common/responsive-img image=blog.post.thumbnail fallback_size=theme_settings.blog_size
          lazyload=theme_settings.lazyload_mode default_image=theme_settings.default_image_product}}
        </div>
        <div class="author-row">
          <div class="author"><span class="avatar nx-dynamic-avatar">RS</span><span
              class="name nx-author-name">{{blog.post.author}}</span></div>
          <span class="date nx-blog-date"
            data-blog-date="{{blog.post.date_published}}">{{blog.post.date_published}}</span>
        </div>
      </div>

      <article class="article">
        <div class="article-section">
          {{{blog.post.body}}}
        </div>
        <div class="article-footer">
          <div class="written-by">
            <span class="label">Written by</span>
            <div class="author-row">
              <div class="author"><span class="avatar nx-dynamic-avatar">RS</span><span
                  class="name nx-author-name">{{blog.post.author}}</span></div>
            </div>
          </div>
          <div class="actions nx-blog-actions-bar">
            <!-- Save / Heart -->
            <button class="action-btn nx-save-btn" aria-label="Save" title="Save post">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M12.62 20.8101C12.28 20.9301 11.72 20.9301 11.38 20.8101C8.48 19.8201 2 15.6901 2 8.6901C2 5.6001 4.49 3.1001 7.56 3.1001C9.38 3.1001 10.99 3.9801 12 5.3401C13.01 3.9801 14.63 3.1001 16.44 3.1001C19.51 3.1001 22 5.6001 22 8.6901C22 15.6901 15.52 19.8201 12.62 20.8101Z"
                  stroke="#0D0D0E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>

            <!-- Share -->
            <div class="nx-share-wrapper">
              <button class="action-btn nx-share-btn" aria-label="Share" title="Share post">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M8.59009 13.51L15.4201 17.49M15.4101 6.51001L8.59009 10.49M21 5C21 6.65685 19.6569 8 18 8C16.3431 8 15 6.65685 15 5C15 3.34315 16.3431 2 18 2C19.6569 2 21 3.34315 21 5ZM9 12C9 13.6569 7.65685 15 6 15C4.34315 15 3 13.6569 3 12C3 10.3431 4.34315 9 6 9C7.65685 9 9 10.3431 9 12ZM21 19C21 20.6569 19.6569 22 18 22C16.3431 22 15 20.6569 15 19C15 17.3431 16.3431 16 18 16C19.6569 16 21 17.3431 21 19Z"
                    stroke="#4B4B4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <div class="nx-share-dropdown">
                {{> components/common/share url=blog.post.url}}
              </div>
            </div>

            <!-- Print -->
            <button class="action-btn" aria-label="Print" title="Print post" onclick="window.print()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7.25 7H16.75V5C16.75 3 16 2 13.75 2H10.25C8 2 7.25 3 7.25 5V7Z" stroke="#4B4B4A"
                  stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 15V19C16 21 15 22 13 22H11C9 22 8 21 8 19V15H16Z" stroke="#4B4B4A" stroke-width="1.5"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21 10V15C21 17 20 18 18 18H16V15H8V18H6C4 18 3 17 3 15V10C3 8 4 7 6 7H18C20 7 21 8 21 10Z"
                  stroke="#4B4B4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M17 15H15.79H7" stroke="#4B4B4A" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7 11H10" stroke="#4B4B4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>

            <!-- Copy Link -->
            <button class="action-btn nx-copy-btn" aria-label="Copy Link" title="Copy link"
              data-url="{{blog.post.url}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M12.89 5.87988H5.10999C3.39999 5.87988 2 7.27987 2 8.98987V20.3499C2 21.7999 3.04 22.4199 4.31 21.7099L8.23999 19.5199C8.65999 19.2899 9.34 19.2899 9.75 19.5199L13.68 21.7099C14.95 22.4199 15.99 21.7999 15.99 20.3499V8.98987C16 7.27987 14.6 5.87988 12.89 5.87988Z"
                  stroke="#4B4B4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M16 8.98987V20.3499C16 21.7999 14.96 22.4099 13.69 21.7099L9.76001 19.5199C9.34001 19.2899 8.65999 19.2899 8.23999 19.5199L4.31 21.7099C3.04 22.4099 2 21.7999 2 20.3499V8.98987C2 7.27987 3.39999 5.87988 5.10999 5.87988H12.89C14.6 5.87988 16 7.27987 16 8.98987Z"
                  stroke="#4B4B4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M22 5.10999V16.47C22 17.92 20.96 18.53 19.69 17.83L16 15.77V8.98999C16 7.27999 14.6 5.88 12.89 5.88H8V5.10999C8 3.39999 9.39999 2 11.11 2H18.89C20.6 2 22 3.39999 22 5.10999Z"
                  stroke="#4B4B4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </article>
    </section>
  </div>

  <!-- RELATED BLOGS -->
  {{#if blog.recent_posts}}
  <section class="related">
    <div class="container related-inner">
      <h2 class="related-title">Recent Blogs That You Might Like</h2>

      <div class="swiper nx-related-blogs-swiper">
        <div class="swiper-wrapper related-cards">
          {{#each blog.recent_posts}}
          <div class="swiper-slide">
            {{> components/blog/post post=this theme_settings=../theme_settings}}
          </div>
          {{/each}}
        </div>
      </div>

      <div class="arrows nx-related-arrows">
        <button class="swiper-button-prev" aria-label="Previous">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
            <path
              d="M32.0007 58.6663C46.7282 58.6663 58.6673 46.7273 58.6673 31.9997C58.6673 17.2721 46.7282 5.33301 32.0007 5.33301C17.2731 5.33301 5.33398 17.2721 5.33398 31.9997C5.33398 46.7273 17.2731 58.6663 32.0007 58.6663Z"
              stroke="white" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M35.3593 41.4136L25.9727 32.0002L35.3593 22.5869" stroke="white" stroke-width="4"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <button class="swiper-button-next" aria-label="Next">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
            <path
              d="M32.0007 58.6663C46.7282 58.6663 58.6673 46.7273 58.6673 31.9997C58.6673 17.2721 46.7282 5.33301 32.0007 5.33301C17.2731 5.33301 5.33398 17.2721 5.33398 31.9997C5.33398 46.7273 17.2731 58.6663 32.0007 58.6663Z"
              stroke="white" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M28.6406 41.4136L38.0273 32.0002L28.6406 22.5869" stroke="white" stroke-width="4"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

    </div>
  </section>
  {{/if}}

</main>

{{/partial}}
{{> layout/base}}