---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    <!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div class="product-details-page">
        <!-- Replaced default product-view with custom generic product layout -->
        {{> components/products/product-view}}
        {{assignVar 'isBBQSauce' 0}}
        {{#each product.category}}
            {{#if this '===' 'BBQ Sauces'}}
                {{assignVar 'isBBQSauce' 1}}
            {{/if}}
        {{/each}}

        {{#if (getVar 'isBBQSauce') '===' 1}}
            {{> components/custom/nexyl/product/tradition}}
            {{> components/custom/nexyl/product/banners}}
        {{else}}
            {{> components/custom/nexyl/product/product-local}}
        {{/if}}
        {{{region name="product_below_content"}}}

        {{> components/products/related products=product.related_products}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        <!-- {{> components/products/tabs}} -->
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
