{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="page nx-utility-page nx-account-layout">
    <div class="container nx-utility-page__inner">
    <h2 class="page-heading nx-utility-page__heading">{{lang 'account.settings.heading' }}</h2>
    <div class="nx-account-nav">
        {{> components/account/navigation account_page='settings'}}
    </div>
    <main class="account account--fixed nx-account-main">
    {{#if forms.edit_account.error}}
    {{> components/common/alert/alert-error forms.edit_account.error}}
    {{/if}}
    {{#if forms.edit_account.success}}
    {{> components/common/alert/alert-success forms.edit_account.success}}
    {{/if}}
    {{> components/account/edit-account}}
    </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
