{{#partial "page"}}
<div class="page nx-utility-page nx-account-layout">
    <div class="container nx-utility-page__inner">
<h1 class="page-heading nx-utility-page__heading">{{lang 'account.returns.heading' }}</h1>
<div class="nx-account-nav">
    {{> components/account/navigation account_page='returns'}}
</div>

<main class="account account--fixed nx-account-main">
    <div class="account-body">
        <section class="account-content">
            {{#if customer.returns}}
                {{> components/account/returns-list returns=customer.returns}}
            {{else}}
                {{> components/common/alert/alert-info (lang 'account.returns.none')}}
            {{/if}}
        </section>
    </div>
</main>
    </div>
</div>

{{/partial}}
{{> layout/base}}
