{{#partial "page"}}
<div class="page nx-utility-page nx-account-layout">
    <div class="container nx-utility-page__inner">
{{#if settings.show_wishlist}}
        <h2 class="page-heading nx-utility-page__heading">{{lang 'account.wishlists.heading' }}</h2>
        <div class="nx-account-nav">
            {{> components/account/navigation account_page='wishlists'}}
        </div>
        <main class="account account--fixedLarge nx-account-main">
            {{> components/account/wishlist-list}}
        </main>
{{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
