{{#partial "page"}}
<main class="page nx-utility-page">
    <section class="page-content page-content--textCenter nx-utility-page__inner container">
        <h1 class="page-heading nx-utility-page__heading">{{lang 'create_account.created.heading'}}</h1>
        <p class="nx-utility-page__text">{{lang 'create_account.created.intro' store_name=settings.store_name
            email=customer.email}}</p>
        <a class="button button--primary nx-utility-page__btn" href="{{create_account.continue_url}}">{{lang
            'create_account.created.continue'}}</a>
    </section>
</main>
{{/partial}}
{{> layout/base}}