{{inject 'recaptchaTitle' (lang 'forgot_password.recaptcha_title')}}
{{#partial "page"}}
<div class="page nx-utility-page">
    <div class="container nx-utility-page__inner nx-reset-password">
        <h2 class="page-heading nx-utility-page__heading">{{lang 'reset_password.heading' }}</h2>
        <p class="nx-utility-page__text">{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
        {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <div class="form-field nx-auth-form-field">
                <label class="form-label" for="email">{{lang 'common.email_address'}}</label>
                <input class="form-input" name="email" id="email" type="email" formnovalidate>
            </div>
            {{{ forms.forgot_password.recaptcha.markup}}}
            <div class="form-actions">
                <input type="submit" class="button button--primary nx-utility-page__btn"
                    value="{{lang 'reset_password.heading' }}">
            </div>
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}