{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="page nx-utility-page">
    <div class="container nx-utility-page__inner nx-reset-password">
        <h2 class="page-heading nx-utility-page__heading">{{lang 'forms.new_password.heading' }}</h2>
        <p class="nx-utility-page__text">{{forms.new_password.requirements}}</p>
        {{#if forms.new_password.error}}
        {{> components/common/alert/alert-error forms.new_password.error}}
        {{/if}}
        <form action="{{forms.new_password.submit_url}}" class="form new-password-form" method="post">
            <div class="form-row">
                <div class="form-field nx-auth-form-field">
                    <label class="form-label" for="password">
                        {{lang 'forms.new_password.password' }} {{lang 'common.required' }}
                    </label>
                    <input type="password" class="form-input" name="password" id="password" autocomplete="off">
                </div>
                <div class="form-field nx-auth-form-field">
                    <label class="form-label" for="password_confirm">
                        {{lang 'forms.new_password.password2' }} {{lang 'common.required' }}
                    </label>
                    <input type="password" class="form-input" name="password_confirm" id="password_confirm"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-actions">
                <input class="button button--primary nx-utility-page__btn" type="submit"
                    value="{{lang 'forms.new_password.submit_value' }}">
            </div>
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}