// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    max-width: remCalc(900px);    
    
    .container {
        max-width: 32rem !important;

        @media (min-width: 768px) {
            max-width: 64rem !important;
        }
    }
}

.login-form {
    @include grid-column(12);

    @include breakpoint("medium") {
        @include grid-column(6);

        margin-top: spacing("double");
    }

    .form-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.new-customer {
    @include grid-column(12);

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}