<article
    class="nx-card{{#if alternate}} nx-card--alternate{{/if}}"
    data-test="card-{{id}}"
    data-event-type="{{event}}"
    data-entity-id="{{id}}"
    data-position="{{position}}"
    data-name="{{name}}"
    data-product-category="
    {{#each category}}
        {{#if @last}}
            {{this}}
        {{else}}
            {{this}},
        {{/if}}
    {{/each}}"
    data-product-brand="{{brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
>
    <a href="{{url}}" class="nx-card__link" aria-label="{{name}}" data-event-type="product-click">
        <div class="nx-card__object">
            {{#if stock_level '===' 0}}
                {{#if theme_settings.pdp_sold_out_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sold-out'
                        badge_view=theme_settings.product_sold_out_badges
                        badge_label=(lang "page_builder.pdp_sold_out_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sold-out'
                        badge_view=theme_settings.product_sold_out_badges
                        badge_label=theme_settings.pdp_sold_out_label
                    }}
                {{/if}}
            {{else}}
                {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                    {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                        {{> components/products/product-badge
                            badge-type='sale'
                            badge_view=theme_settings.product_sale_badges
                            badge_label=(lang "page_builder.pdp_sale_badge_label")
                        }}
                    {{else}}
                        {{> components/products/product-badge
                            badge-type='sale'
                            badge_view=theme_settings.product_sale_badges
                            badge_label=theme_settings.pdp_sale_badge_label
                        }}
                    {{/if}}
                {{/or}}
            {{/if}}

            {{#if image}}
                <img src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}" loading="lazy">
            {{else}}
                <img src="{{cdn theme_settings.default_image_product}}" alt="{{name}}" loading="lazy">
            {{/if}}
        </div>
    </a>

    <div class="nx-card__body">
        <div class="nx-card__meta">
            {{#each custom_fields}}
                {{#if name '===' 'sauce_region'}}
                    <p class="nx-card__origin">{{value}}</p>
                {{/if}}
            {{/each}}

            {{#filter custom_fields 'nick_name' property='name'}}
                <p class="nx-card__name">
                    <a href="{{../url}}"
                    aria-label="{{../name}}"
                    data-event-type="product-click"
                    style="color: inherit; text-decoration: none;"
                    >
                    {{value}}
                    </a>
                </p>
            {{else}}
                <p class="nx-card__name">
                    <a href="{{url}}"
                    aria-label="{{name}}"
                    data-event-type="product-click"
                    style="color: inherit; text-decoration: none;"
                    >
                    {{name}}
                    </a>
                </p>
            {{/filter}}

            <div class="nx-pill">
                <span class="nx-pill__inner">
                    <span class="nx-pill__price">
                        <span>
                            {{#or customer (unless settings.hide_price_from_guests)}}
                                {{#if price.with_tax}}
                                    {{price.with_tax.formatted}}
                                {{else if price.without_tax}}
                                    {{price.without_tax.formatted}}
                                {{/if}}
                            {{else}}
                                {{#if settings.hide_price_from_guests}}
                                    {{lang 'common.login_for_pricing'}}
                                {{else}}
                                    {{price.without_tax.formatted}}
                                {{/if}}
                            {{/or}}
                        </span>
                    </span>
                    {{#each custom_fields}}
                        {{#if name '===' 'weight'}}
                            <span class="nx-pill__size">{{value}}</span>
                        {{else if name '===' 'size'}}
                            <span class="nx-pill__size">{{value}}</span>
                        {{/if}}
                    {{/each}}
                </span>
            </div>
        </div>
    </div>
</article>
